<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
    Here server name is the same for all three, each one would be different for a real application while the database
    would be the same typically but if different change the Initial Catalog as needed
    />-->
		<add key="DevConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" />
		<add key="StagingConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" />
		<add key="ProductionConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" />
	</appSettings>
</configuration>