<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DevConnection" value="Data Source=.\SQLEXPRESS;Initial Catalog=School;Integrated Security=True" />
		<add key="StagingConnection" value="Data Source=Staging;Initial Catalog=School;Integrated Security=True" />
		<add key="ProductionConnection" value="Data Source=Production;Initial Catalog=School;Integrated Security=True" />
	</appSettings>
</configuration>